<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>APP</title>
    <script th:src="@{/webjars/jquery/3.6.0/dist/jquery.min.js}"></script>
</head>
<body>
<div id="app1">
    APP1 response:<br>
</div>
<div id="app2">
    APP2 response:<br>
</div>
<hr>
<div>
    <button onclick="requestProxyToApp1()">proxy request to APP1</button>
    <br>
    <button onclick="requestProxyToApp2()">proxy request to APP2</button>
</div>
<hr>
<!--<div>-->
<!--    <form th:action="@{/logout}">-->
<!--        <button type="submit">logout</button>-->
<!--    </form>-->
<!--</div>-->
<script>
    function requestProxyToApp1() {
        $.ajax({
            url: 'http://localhost:8300/zuul/app1/tester/test',
            type: 'POST',
            xhrFields: {
                withCredentials: true
            },
            success: (data) => {
                $('#app1').append(data + '<br>');
            }
        });
    }

    function requestProxyToApp2() {
        $.ajax({
            url: 'http://localhost:8300/zuul/app2/tester/test',
            type: 'POST',
            xhrFields: {
                withCredentials: true
            },
            success: (data) => {
                $('#app2').append(data + '<br>');
            }
        });
    }
</script>
</body>
</html>